*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html-section{
    height: 580px;
    width: 100vw;
    background-color: aliceblue;
    display: flex;
}

.left-section{
    height: 100%;
    width: 50%;
    background-color: rgb(214, 243, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 20%;
}

.right-section{
    height: 100%;
    width: 50%;
    background-color: rgb(214, 243, 239);
    display: flex;
    align-items: center;

}

.btn{
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 30px;
}

#btn-green{
    background-color: rgb(127, 189, 70);
}
#btn-pink{
    background-color: rgb(226, 155, 185);
    color: black;
}
#btn-blue{
    background-color: rgb(106, 157, 233);
}
#btn-yellow{
    background-color: rgb(235, 232, 107);
    color: black;

} 

.card{
    height: 80%;
    width: 70%;
    background-color: rgb(212, 224, 241);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 2%;
    padding-top: 2%;
    gap: 20px;
    border-radius: 10px;
}

.card-photo{
    height: 70%;
    width: 90%;
    background: url('../images/ocean.jpg');
    background-size: cover;

}


@media(max-width: 1000px){
    .html-section{
        flex-direction: column;
        height: 1200px;
    }
    .left-section{
        width: 100%;
        padding: 0;
    }
    .right-section{
        width: 100%;
        justify-content: center;
    }
    .card{
        width: 90%;
    }
}

@media (max-width:600px){
    .html-section{
        height: 600px;
    }
    .right-section{
        display: none;
    }
}