<%- include('comman/header',{title:'Home'})%>

    <div class="container">
        <div class="row mt-2">
            <div class="col-sm-6 offset-sm-2 mt-2" style="border: 1px solid black; padding: 15px;">
                <h1 class="text-center bg-primary text-white mb-2 ">Employee Registration</h1>
                <form action="/emp" method="post" enctype="multipart/form-data">
                    <!-- enctype="multipart/form-data ye humko likhna hi pahta hsi photo media incclude kerane k liye -->
                    <div class="mt-2">
                        <label for="name">Employee Name</label>
                        <input type="text" name="name" required class="form-control">
                    </div>

                    <div class="mt-2">
                        <label for="name">Employee Department</label>
                        <select name="dept" required class="form-control">
                            <option value="">Select Depaprtment</option>
                            <option value="IT">IT</option>
                            <option value="HR">HR</option>
                            <option value="Finance">Finance</option>
                        </select>
                    </div>
                    <div class="mt-2">
                        <input type="file" class="form-control" required name="photo">
                    </div>
                    <div class="classmt-2 text-center">
                        <button class="btn btn-primary mt-2">Add Now</button>
                    </div>
                </form>

                <% if(locals.message){%>
                    <div class="alert alert-success mt-2">
                        <%=message%>
                    </div>
                    <%}%>
            </div>
        </div>
    </div>





    <%- include('comman/footer')%>