<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/my.css">
    <script src="../static/js/my.js"></script>
    <style>
        h1{
            color: rgb(2, 100, 100);
            background-color: rgb(250, 231, 123);
            text-decoration: dotted;
            text-align: center;
        }
    </style>
</head> -->
<!-- <body> -->

<%- include('comman/header',{title:'Home'})%>



    <h1>home page</h1>
    <h2>Welcome to our website</h2>
    <!-- <a href="/chandigarh" style="color: red ; background-color: pink; text-align: center; padding: 10px; text-decoration: none;">About us</a>
    <a href="/mohali" class="contact">Contact us</a> -->

    <button onclick="Message()" class="btn btn-primary">Click Me</button>
    <!-- onclick mai apne fun ka name -->

    <!-- <a href="/sum">Sum Application</a>

     <a href="/find_multi">Multiplication</a>
    <img src="../static/images/img1.jpg" alt="venom" width="500" height="400">
</body>
</html> -->


    <%- include('comman/footer')%>
        <!-- ab humko iss page mai header or footer ki zaurt nhi hai bs link kr dege direct iske pass bs apna code rahega -->