<%- include('comman/header',{title:'student'})%>

    <div class="container mt-5">
        <div class="row mt-4">
            <div class="col-sm-5 offset-sm-2 mt-3">
                <h3 class="text-center">Student Registration</h3>
                <form action="add_student" method="post">
                    <!-- add_student pr jayega -->
                    <div class="mt-2">
                        <label for="name">Student Name</label>
                        <input type="text" name="name" id="name" required class="form-control">
                    </div>
                    <div class="mt-2">
                        <label for="roll">Student Roll</label>
                        <input type="number" name="roll" id="roll" required class="form-control">
                    </div>
                    <div class="mt-2">
                        <label for="branch">Student Branch</label>
                        <input type="text" name="branch" id="branch" required class="form-control">
                    </div><br>
                    <div class="text-center">
                        <input type="submit" value="Add Student" class="btn btn-primary">
                    </div>

                </form>

                <% if(locals.message) { %>
                    <h4 align="center">
                        <%=message%>
                    </h4>
                    <% }%>
            </div>
        </div>
    </div>
    <%- include('comman/footer')%>