<%- include('comman/header',{title:'employee'})%>

    <div class="box">
        <table class="form_page">
            <caption>

                <h3>Employee Registration</h3>
            </caption>
            <form action="/registration_form" method="post">
                <tr>
                    <td>
                        <label for="name">Name :</label>
                    </td>
                    <td>
                        <input type="text" name="name" id="name" required>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="email">Email-id :</label>
                    </td>
                    <td>
                        <input type="email" name="email" id="email" required>

                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="department">Department :</label>

                    </td>
                    <td>
                        <select name="department" required>
                            <option disabled selected>--select--</option>
                            <option value="Human Resources">Human Resources</option>
                            <option value="Finance">Finance</option>
                            <option value="Accounting">Accounting</option>
                            <option value="Sales">Sales</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Administration">Administration</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>

                        <label for="gender">Gender :</label>
                    </td>
                    <td>
                        <input type="radio" name="gender" value="male"> Male
                        <input type="radio" name="gender" value="female"> Female
                        <input type="radio" name="gender" value="others"> Others
                    </td>
                </tr>

                <tr>
                    <td>

                        <label for="address">Address :</label>
                    </td>
                    <td>

                        <textarea name="address" id="address" rows="5" cols="30" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td>

                        <input class="submit" type="submit" value="submit">
                    </td>
                </tr>



            </form>
        </table>
    </div>

    <% if(locals.message) { %>
        <h4 align="center">
            <%=message%>
        </h4>
        <% }%>


            <%- include('comman/footer')%>