<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body> -->


<%- include('comman/header',{title:'multiply'})%>

    <h1 align="center">Multiplication Application</h1>
    <center>
        <form action="/find_multi" method="post">
            Enter A value <input type="number" name="a" required><br><br>
            Enter B value <input type="number" name="b" required><br><br>
            <input type="submit" value="Submit">
        </form>
        
        <!-- lessthen percentage ka mtlb iske ander kuch bhi likh skte hai. ye console.log hopta hai ye check keraega node k trh se koi output ayi ki nhi -->
        <% if(locals.ans){%>
            <h2>Result: <%= ans %>
            </h2>
            <%}%>

    </center>
    <!-- ab humne is page home page se open krna hai to home pr link lagayege -->


 <%- include('comman/footer')%>

<!-- </body>

</html> -->