* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

.contact {
    color: yellow;
    background-color: yellowgreen;
    padding: 10px;
    text-decoration: none;

}

h2 {
    color: rgb(2, 100, 100);
    background-color: rgb(250, 231, 123);
    text-decoration: dotted;
    text-align: center;
}


.box {
    height: 95vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.form_page {
    height: 90vh;
    width: 35vw;
    border: 1px solid black;
    border-radius: 30px;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
   box-shadow: 2px 2px 5px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.form_page input , textarea{
    text-decoration: none;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0,0.2);
}

input , textarea:focus{
    outline: none;
}

td {
    padding-left: 30px;
    padding-bottom: 20px;
}

.submit{
    border-radius: 10px;
    border: 1px solid rgb(15, 2, 2);
    padding: 5px 10px 5px 10px;
    background-color: brown;
}

.submit:hover{
    background-color: wheat;
}